.shadow23 {
  width: 298px;
  height: 22.9px;
  position: relative;
  filter: blur(135.91px);
  border-radius: var(--br-146xl);
  background-color: var(--iris-100);
  display: none;
}
.iconlylightarrow-left16 {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
.iconlylightarrow-left-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
}
.mental-health,
.resources1 {
  margin: 0;
}
.welcome-back-sarina-container4 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 27.13px;
  font-weight: 500;
  font-family: inherit;
}
.articles,
.blank-line13,
.helplines,
.podcasts,
.support-groups,
.these-will-take {
  margin: 0;
}
.welcome-back-sarina-container5 {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 27.13px;
  font-weight: 500;
  text-align: left;
}
.input-default1 {
  width: 301px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-87xl);
}
.frame-parent111,
.main-f-r-a-m-e1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent111 {
  width: 680px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.main-f-r-a-m-e1 {
  justify-content: flex-start;
  padding: 0 var(--padding-21xl) 0 0;
  box-sizing: border-box;
}
.input-default-child1 {
  height: 179px;
  width: 343px;
  position: relative;
  display: none;
  max-width: 100%;
}
.text2 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--body-main);
  font-size: var(--body-main-size);
  background-color: transparent;
  height: 18px;
  flex: 1;
  position: relative;
  line-height: 19.5px;
  color: var(--primary-gray);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 191px;
  padding: 0;
  z-index: 1;
}
.input-default-wrapper,
.input-default2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.input-default2 {
  flex: 1;
  background-color: var(--white);
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-4xs) var(--padding-lg)
    var(--padding-base);
}
.input-default-wrapper {
  width: 395px;
  justify-content: flex-end;
  padding: 0 var(--padding-7xl) var(--padding-27xl);
}
.change-email-address2,
.change-email-address3 {
  width: 365.2px;
  position: relative;
  text-decoration: underline;
  display: inline-block;
  mix-blend-mode: normal;
  max-width: 100%;
}
.naviation-rectangle14 {
  height: 85px;
  width: 375px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.11);
  background-color: var(--white);
  display: none;
  max-width: 100%;
}
.noun-home-1998078-icon14 {
  height: 52px;
  width: 52px;
  position: relative;
  object-fit: contain;
  min-height: 52px;
  z-index: 1;
}
.rectangle65 {
  display: none;
}
.rectangle-wrapper14,
.rectangle65 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.heroicons-outlinevideo-camera16 {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 42px;
  height: 42px;
  overflow: hidden;
  z-index: 1;
}
.frame-parent112 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bottom-navigation-inner10 {
  height: 52px;
  width: 52px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.group-30-copy-916,
.settings-icon14 {
  height: 52px;
  width: 52px;
  position: relative;
  min-height: 52px;
  z-index: 1;
}
.group-30-copy-916 {
  cursor: pointer;
}
.bottom-navigation-container,
.bottom-navigation12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.bottom-navigation12 {
  flex: 1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.11);
  background-color: var(--white);
  justify-content: space-between;
  padding: var(--padding-2xs) var(--padding-4xl) var(--padding-3xl)
    var(--padding-5xl);
  gap: var(--gap-xl);
}
.bottom-navigation-container {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
}
.assessment1,
.videocamera-setting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.videocamera-setting {
  width: 377px;
  align-items: flex-start;
  gap: var(--gap-smi);
  max-width: 100%;
  font-size: var(--text-14-medium-size);
  color: var(--color-gray-500);
  font-family: var(--body-main);
}
.assessment1 {
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-100);
  width: 100%;
  overflow: hidden;
  align-items: flex-end;
  padding: var(--padding-70xl) var(--padding-434xl) var(--padding-sm)
    var(--padding-88xl);
  box-sizing: border-box;
  gap: var(--gap-60xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-400);
  font-family: var(--font-epilogue);
}
@media screen and (max-width: 675px) {
  .frame-parent111 {
    flex-wrap: wrap;
  }
  .assessment1 {
    gap: var(--gap-20xl);
    padding-left: var(--padding-34xl);
    padding-right: var(--padding-207xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .welcome-back-sarina-container4 {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
  .input-default1 {
    gap: var(--gap-34xl);
  }
  .bottom-navigation12 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .assessment1 {
    gap: var(--gap-xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
