.welcome-back-sarina10 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 55px;
  font-weight: 500;
  font-family: inherit;
}
.welcome-back-sarina-wrapper2 {
  width: 362px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl);
  box-sizing: border-box;
  max-width: 100%;
}
.shadow40 {
  width: 298px;
  height: 22.9px;
  position: relative;
  filter: blur(135.91px);
  border-radius: var(--br-146xl);
  background-color: var(--iris-100);
  display: none;
}
.contact-details,
.example-clinic-1,
.location {
  margin: 0;
}
.example-clinic-1-container {
  flex: 1;
  position: relative;
  line-height: 18px;
}
.example-clinic-1-contact-deta-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.contact-details1,
.example-clinic-2,
.location1 {
  margin: 0;
}
.example-clinic-2-container {
  flex: 1;
  position: relative;
  line-height: 18px;
}
.example-clinic-2-contact-deta-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.contact-details2,
.example-clinic-3,
.location2 {
  margin: 0;
}
.example-clinic-3-container {
  flex: 1;
  position: relative;
  line-height: 18px;
}
.example-clinic-3-contact-deta-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.contact-details3,
.example-clinic-4,
.location3 {
  margin: 0;
}
.example-clinic-4-container {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.emergency-child,
.frame-parent161,
.frame-parent162 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent162 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-sm);
}
.emergency-child,
.frame-parent161 {
  max-width: 100%;
}
.frame-parent161 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mid);
}
.emergency-child {
  width: 369px;
  flex-direction: row;
  padding: 0 var(--padding-5xl) 6.7px;
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray-700);
  font-family: var(--font-rubik);
}
.look-around1,
.name-5-things1 {
  position: relative;
  display: inline-block;
}
.look-around1 {
  height: 23px;
  font-weight: 800;
}
.name-5-things1 {
  width: 279px;
  height: 36px;
  font-size: var(--text-14-medium-size);
  line-height: 18px;
  font-family: var(--font-rubik);
  opacity: 0.9;
}
.watch-now-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 138px;
  height: 31px;
}
.talk-to-a2 {
  position: absolute;
  top: 3.5px;
  left: 0;
  line-height: 32px;
  display: inline-block;
  width: 182px;
  height: 25px;
}
.watch-now5 {
  width: 182px;
  height: 31px;
  position: relative;
  cursor: pointer;
  font-size: var(--headline-main-size);
  color: var(--color-blueviolet);
}
.peer-group-meetup7 {
  width: 289px;
  height: 120.8px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-500);
}
.naviation-rectangle31 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.11);
  background-color: var(--white);
  width: 100%;
  height: 100%;
  display: none;
}
.settings-icon31 {
  position: absolute;
  top: 11px;
  left: 208px;
  width: 52px;
  height: 52px;
  z-index: 1;
}
.rectangle108 {
  display: none;
}
.rectangle-wrapper31,
.rectangle108 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.heroicons-outlinevideo-camera33 {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 42px;
  height: 42px;
  overflow: hidden;
  z-index: 1;
}
.frame-parent163 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bottom-navigation-inner26 {
  left: 116px;
  cursor: pointer;
}
.bottom-navigation-inner26,
.group-30-copy-933,
.noun-home-1998078-icon31 {
  position: absolute;
  top: 11px;
  width: 52px;
  height: 52px;
  z-index: 1;
}
.group-30-copy-933 {
  left: 300px;
  cursor: pointer;
}
.noun-home-1998078-icon31 {
  left: 24px;
  object-fit: contain;
}
.bottom-navigation-child1 {
  position: absolute;
  top: 11px;
  left: 46px;
  border-radius: 50%;
  background-color: var(--color-pink-200);
  width: 8px;
  height: 8px;
  z-index: 2;
}
.bottom-navigation32 {
  position: absolute;
  top: 191.3px;
  left: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.11);
  background-color: var(--white);
  width: 375px;
  height: 85px;
}
.mask-group-icon11 {
  position: absolute;
  top: 0;
  left: 94px;
  width: 356.5px;
  height: 295.6px;
  object-fit: cover;
  z-index: 2;
}
.bottom-navigation-parent {
  align-self: stretch;
  height: 295.3px;
  position: relative;
}
.emergency1 {
  width: 100%;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 101px 361.5px 0 468px;
  box-sizing: border-box;
  gap: var(--gap-36xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-400);
  font-family: var(--font-epilogue);
}
@media screen and (max-width: 650px) {
  .emergency1 {
    gap: var(--gap-8xl);
    padding-left: var(--padding-215xl);
    padding-right: 180px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .welcome-back-sarina10 {
    font-size: var(--font-size-lgi);
    line-height: 44px;
  }
  .look-around1 {
    font-size: var(--font-size-lg);
  }
  .emergency1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
